@import "./variables.scss";
.owl-carousel {
    .active {
        span {
            background: $primary_color !important;
        }
    }
}

.owl-prev {
    position: absolute;
    right: 0 !important;
    top: 50%;
}

.owl-next {
    position: absolute;
    left: 0 !important;
    top: 50%;
}